<%= juggernaut :client_id => current_user.id %>
<script>
	
		
	jQuery(document).ready(function($) {
//		$.get('/lounge/add_user');
	
		$(window).unload( function () { 
			unloadUser();		
		});

	});


	function unloadUser(){
		//$.get('/lounge/remove_user');
	}

	
</script>

<div id="stats">
	<%= render :partial => 'stat', :collection => @users %>	
	<br style="clear:both" />
</div>
<% content_for :dock do %>
	<% form_remote_for [current_user,@stat] do |f| %>
		<p style="min-width:800px">
			<label>What are you working on?</label>
	    	<%= f.text_field :msg, :id => 'new-stat' %>		
			<input type="submit" value="submit">
		</p>			
	<% end %>
<% end %>