<em>more to come here, for now there is a log</em><br /><br />
<% for stat in @user.stats %>
	<em><%= stat.created_at.strftime(" %b-%d %I:%m%p") %></em>: <%= stat.msg %><br />
<% end %>

<a href="/">back</a>